body{
    font-family: 'Special Elite', cursive;
    background: lightblue;
}
.header_div{
    background:lightpink ;
    color: red;
}

.header_div p{
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}

 .main_div button{
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
 }

.copy_right_footer{
    position: fixed;
    color: darkred;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: right;
    text-shadow:pink;
}